body {
  background: linear-gradient(#00ffff, #228fec);
  background-attachment: fixed;
  margin: 1.5rem;
  -webkit-tap-highlight-color: transparent; }

@media (max-width: 700px) {
  body {
    margin: 1rem 1rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.navbar__nav-link {
  color: #00d8e2;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 3.5rem;
  text-decoration: none; }
  .navbar__nav-link:hover {
    color: #00ffff; }

.main-navbar__nav-item {
  color: #222831;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none; }
  .main-navbar__nav-item:hover {
    color: #00ffff; }

.main-section__heading h1 {
  color: #222831;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 4rem; }

.main-section__content-block--title {
  color: #f97f77;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 2.5rem;
  word-spacing: .6rem; }

.main-section__content-block--code {
  color: #00ffff;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 2.5rem;
  word-spacing: .5rem; }

.strike-tdr__content {
  color: #00ffff;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-style: italic; }

.footer__content {
  color: #00ffff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 2rem; }

.back-top i {
  color: #00ffff;
  font-family: "Roboto Mono", monospace;
  font-size: 3.2rem;
  line-height: 3.5rem; }

@media (max-width: 1275px) {
  .back-top i {
    color: #222831; } }

@media (max-width: 958px) {
  .navbar__nav-link {
    font-size: 2.6rem; }
  .main-section__content-block--title {
    font-size: 2rem;
    word-spacing: .2rem; }
  .main-section__content-block--code {
    font-size: 2rem;
    word-spacing: .2rem; } }

@media (max-width: 800px) {
  .main-navbar__nav-item {
    font-size: 2rem; } }

@media (max-width: 700px) {
  .navbar__nav-link {
    font-size: 2.4rem; } }

@media (max-width: 660px) {
  .navbar__nav-link {
    font-size: 2.2rem; }
  .main-section__heading h1 {
    font-size: 3rem; }
  .main-section__content-block--title {
    font-size: 1.8rem;
    word-spacing: .1rem; }
  .main-section__content-block--code {
    font-size: 1.8rem;
    word-spacing: .1rem; } }

@media (max-width: 540px) {
  .navbar__nav-link {
    font-size: 2rem; }
  .main-navbar__nav-item {
    font-size: 1.6rem; }
  .main-section__content-block--title {
    font-size: 1.7rem;
    word-spacing: 0rem; }
  .main-section__content-block--code {
    font-size: 1.7rem;
    word-spacing: 0rem; } }

@media (max-width: 414px) {
  .main-navbar__nav-item {
    font-size: 1.5rem; }
  .main-section__content-block--title {
    font-size: 1.5rem; }
  .main-section__content-block--code {
    font-size: 1.5rem; } }

@media (max-width: 386px) {
  .main-navbar__nav-item {
    font-size: 1.2rem; } }

.container {
  max-width: 1100px;
  margin: 2rem auto;
  box-shadow: 0 0 2rem 1rem #00716b;
  border-radius: 5px; }

@media (max-width: 700px) {
  .container {
    margin: 1rem auto; } }

.back-top {
  display: none;
  background-color: #222831;
  box-shadow: 0 0 1rem #000000;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 15px;
  height: 35px;
  width: 35px;
  z-index: 10000;
  border-radius: 3px; }

@media (max-width: 1275px) {
  .back-top {
    border-radius: 50px;
    background-color: #00ffff;
    box-shadow: 0 0 2rem .2rem black;
    right: 30px;
    bottom: 35px; } }

@media (max-width: 700px) {
  .back-top {
    right: 20px;
    bottom: 20px; } }

.navbar {
  display: flex;
  height: 12rem; }
  .navbar__nav-link {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .navbar__nav-link--left {
      background-color: #222831;
      border-top-left-radius: 5px; }
      .navbar__nav-link--left-gba {
        background-color: #393e46; }
    .navbar__nav-link--right {
      background-color: #393e46;
      border-top-right-radius: 5px; }
      .navbar__nav-link--right-gba {
        background-color: #222831; }

@media (max-width: 540px) {
  .navbar {
    height: 10rem; } }

.footer {
  height: 10rem;
  text-align: center;
  border-radius: 0 0 5px 5px;
  background-color: #393e46; }
  .footer__content {
    padding: 3.5rem; }

.main {
  background-color: #222831;
  padding: 2rem; }

.main-navbar {
  display: flex;
  margin: 2rem 0;
  height: 5rem; }
  .main-navbar__table-row {
    flex: 1 1 auto; }
  .main-navbar__inner-table--1 {
    display: flex; }
    .main-navbar__inner-table--1 .main-navbar__nav-item:first-child {
      border-radius: 50px 0 0 50px; }
    .main-navbar__inner-table--1 .main-navbar__nav-item:last-child {
      border-right: 1px solid #222831; }
  .main-navbar__inner-table--2 {
    display: flex; }
    .main-navbar__inner-table--2 .main-navbar__nav-item:last-child {
      border-radius: 0 50px 50px 0; }
  .main-navbar__nav-item {
    background-color: #00ffff;
    display: flex;
    text-align: center;
    height: 5rem;
    transition: all .5s ease;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center; }
    .main-navbar__nav-item:not(:last-child) {
      border-right: 1px solid #222831; }
    .main-navbar__nav-item:hover {
      background-color: #393e46; }

.main-section {
  background-color: #222831;
  border-radius: 5px;
  margin-top: 4rem;
  border: 1px solid #00ffff; }
  .main-section:not(:last-child) {
    margin-bottom: 4rem; }
  .main-section__heading {
    background-color: #00ffff;
    border-radius: 3px 3px 0 0;
    padding: 0 2rem; }
  .main-section__content {
    padding: 2rem;
    border-radius: 0 0 5px 5px; }
  .main-section__content-block {
    margin: 3rem 1rem;
    padding-left: 2rem; }
    .main-section__content-block--title {
      padding: .5rem; }
    .main-section__content-block--code {
      padding: .5rem;
      padding-top: 0; }

.strike-tdr__content {
  display: flex;
  flex-direction: row; }
  .strike-tdr__content:before, .strike-tdr__content:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dashed #00ffff;
    margin: auto; }
  .strike-tdr__content:before {
    margin-right: 10px; }
  .strike-tdr__content:after {
    margin-left: 10px; }

@media (max-width: 958px) {
  .main-section__content {
    padding: 0; } }

@media (max-width: 800px) {
  .main-navbar {
    margin-top: 0rem;
    flex-direction: column;
    height: 15rem; }
    .main-navbar__table-row {
      display: flex;
      margin-top: 2rem; }
    .main-navbar__inner-table--1 {
      flex: 1 1 auto; }
      .main-navbar__inner-table--1 .main-navbar__nav-item:last-child {
        border-radius: 0 50px 50px 0; }
    .main-navbar__inner-table--2 {
      flex: 1 1 auto; }
      .main-navbar__inner-table--2 .main-navbar__nav-item:first-child {
        border-radius: 50px 0 0 50px; }
    .main-navbar__nav-item[href="#BASIC"] {
      padding: 0 1rem; } }

@media (max-width: 660px) {
  .main-section__content {
    padding: 1rem; }
  .main-section__content-block {
    margin: 2rem .5rem;
    padding-left: 0; } }

@media (max-width: 540px) {
  .main-section__content {
    padding: 0rem; } }

@media (max-width: 414px) {
  .main {
    padding: 1rem; }
  .main-navbar {
    margin-top: 1rem; } }

@media (max-width: 386px) {
  .main-navbar__nav-item[href="#BASIC"] {
    padding: 0 .5rem; } }

.main--gba {
  background-color: #393e46;
  padding: 2rem; }

.main-section--gba {
  background-color: #393e46; }
