
@mixin typo( $c: null , $ff: null , $fw: null , $fs: null , $lh: null , $td: null , $ws: null , $ls: null) {
	@if $c != null {
		color: $c;
	}
	@if $ff != null {
		font-family: $ff;
	}
	@if $fw != null {
		font-weight: $fw;
	}
	@if $fs != null {
		font-size: $fs;
	}
	@if $lh != null {
		line-height: $lh;
	}
	@if $td != null {
		text-decoration: $td;
	}
	@if $ws != null {
		word-spacing: $ws;
	}
	@if $ls != null {
		letter-spacing: $ls;
	}
}

@mixin box( $h: null , $w: null , $maxh: null , $maxw: null , $minh: null , $minw: null , $p: null , $pt: null, $pr: null, $pb: null, $pl: null , $b: null , $bt: null , $br: null , $bb: null , $bl: null , $m: null , $mt: null , $mr: null , $mb: null , $ml: null ) {
	@if $h != null {
		height: $h;
	}
	@if $w != null {
		width: $w;
	}
	@if $maxh != null {
		max-height: $maxh;
	}
	@if $maxw != null {
		max-width: $maxw;
	}
	@if $minh != null {
		min-height: $minh;
	}
	@if $minw != null {
		min-width: $minw;
	}
	@if $p != null {
		padding: $p;
	}
	@if $pt != null {
		padding-top: $pt;
	}
	@if $pr != null {
		padding-right: $pr;
	}
	@if $pb != null {
		padding-bottom: $pb;
	}
	@if $pl != null {
		padding-left: $pl;
	}
	@if $b != null {
		border: $b;
	}
	@if $bt != null {
		border-top: $bt;
	}
	@if $br != null {
		border-right: $br;
	}
	@if $bb != null {
		border-bottom: $bb;
	}
	@if $bl != null {
		border-left: $bl;
	}
	@if $m != null {
		margin: $m;
	}
	@if $mt != null {
		margin-top: $mt;
	}
	@if $mr != null {
		margin-right: $mr;
	}
	@if $mb != null {
		margin-bottom: $mb;
	}
	@if $ml != null {
		margin-left: $ml;
	}
}

@mixin pos-relative {
	position: relative;
}

@mixin pos-fixed( $t: null , $b: null , $l: null , $r: null , $z: null ) {
	position: fixed;
	@if $t != null {
		top: $t;
	}
	@if $b != null {
		bottom: $b;
	}
	@if $l != null {
		left: $l;
	}
	@if $r != null {
		right: $r;
	}
	@if $z != null {
		z-index: $z;
	}
}

@mixin pos-absolute( $t: null , $b: null , $l: null , $r: null , $z: null ) {
	position: absolute;
	@if $t != null {
		top: $t;
	}
	@if $b != null {
		bottom: $b;
	}
	@if $l != null {
		left: $l;
	}
	@if $r != null {
		right: $r;
	}
	@if $z != null {
		z-index: $z;
	}
}

@mixin flex( $fd: null , $jc: null , $ai: null , $ac: null , $fw: null ) {
	display: flex;
	@if $fd != null {
		flex-direction: $fd;
	}
	@if $jc != null {
		justify-content: $jc;
	}
	@if $ai != null {
		align-items: $ai;
	}
	@if $ac != null {
		align-content: $ac;
	}
	@if $fw != null {
		flex-wrap: $fw;
	}
}
