
@mixin typo( $color , $font-family , $font-weight , $font-size ) {
	@if $color != null {
		color: $color;
	}
	@if $font-family != null {
		font-family: $font-family;
	}
	@if $font-weight != null {
		font-weight: $font-weight;
	}
	@if $font-size != null {
		font-size: $font-size;
	}
}

@mixin box( $height , $width , $padding , $margin ) {
	@if $height != null {
		height: $height;
	}
	@if $width != null {
		width: $width;
	}
	@if $padding != null {
		padding: $padding;
	}
	@if $margin != null {
		margin: $margin;
	}
}

@mixin pos-relative {
	position: relative;
}

@mixin pos-fixed( $top , $bottom , $left , $right ) {
	position: fixed;
	@if $top != null {
		top: $top;
	}
	@if $bottom != null {
		bottom: $bottom;
	}
	@if $left != null {
		left: $left;
	}
	@if $right != null {
		right: $right;
	}
}

@mixin pos-absolute( $top , $bottom , $left , $right ) {
	position: absolute;
	@if $top != null {
		top: $top;
	}
	@if $bottom != null {
		bottom: $bottom;
	}
	@if $left != null {
		left: $left;
	}
	@if $right != null {
		right: $right;
	}
}