
// font-family:
$ff-roboto: 'Roboto', sans-serif;
$ff-sarabun: 'Sarabun', sans-serif;
$ff-titillium: 'Titillium Web', sans-serif;

// color;
$color-background: #00adb5;
$color-primary1: #222831;
$color-primary2: #393e46;
$color-navlink: #00d8e2;
$color-navlink-hover: cyan;
$color-secondary1: red;
$color-secondary2: red;
$color-heading: red;
