
// font-family:
$ff-roboto: 'Roboto Mono', monospace;;
$ff-titillium: 'Titillium Web', sans-serif;
$ff-courierPrime: 'Courier Prime', monospace;


// color:
$color-primary: #222831;
$color-secondary: #393e46;
$color-cyan1: #00ffff;
$color-cyan2: #00d8e2;
$color-tomato: #f97f77;