
.footer {
	display: flex;
	justify-content: center;
	background-color: $color-secondary;
	@include size( /*h*/ 10rem , /*w*/ null );
	border-radius: 0 0 5px 5px;

	&__content {
		@include typo( $color-cyan1 , $ff-titillium , 300 , 2rem );
		display: flex;
		align-items: center;
	}
}