
.footer {
	height: 10rem;
	text-align: center;
	border-radius: 0 0 5px 5px;
	background-color: $color-secondary;

	&__content {
		padding: 3.5rem;
	}

	&__page-top {
		display: inline-block;
		float: right;

		&--button {
			text-decoration: none;
			background-color: $color-cyan1;
			color: $color-primary;
			font-size: 2rem;
			font-weight: 900;
			border-radius: 100px;
			padding: .5rem 1rem;
		}

	}

}