
.navbar {

	text-align: center;
	height: 10rem;

	&__nav-link {
		float: left;
		width: 50%;
		height: 100%;
		padding: 3rem 1rem;

		&--left {
			background-color: $color-primary;
			border-top-left-radius: 5px;

			&-gba {
				background-color: $color-secondary;
			}
		}

		&--right {
			background-color: $color-secondary;
			border-top-right-radius: 5px;

			&-gba {
				background-color: $color-primary;
			}
		}
		
	}
}

@media (max-width: 414px) {
	.navbar__nav-link {
		padding: 2.2rem .5rem;
		font-weight: 500;
		font-size: 2.2rem;
	}
}