
.header-navbar {
	@include flex();
	@include box( $h: 12rem );

	@media (max-width: 540px) {
		@include box( $h: 10rem );
	}

	&__nav-link {
		@include typo( $c: $cyan2 , $ff: $roboto , $fw: 500 , $fs: 3.5rem , $td: none );
        @include flex( $jc: center , $ai: center );
        @include flex-item( $grow: 1 , $shrink: 1 , $basis: auto );
        text-align: center;

        &:hover {
			color: $cyan1;
		}

		@media (max-width: 958px) {
			font-size: 2.6rem;
		}
		@media (max-width: 700px) {
			font-size: 2.4rem;
		}
		@media (max-width: 660px) {
			font-size: 2.2rem;
		}
		@media (max-width: 540px) {
			font-size: 2rem;
		}

		&--left {
			background-color: $primary;
			border-top-left-radius: 5px;

			&-gba {
				background-color: $secondary;
			}
		}

		&--right {
			background-color: $secondary;
			border-top-right-radius: 5px;

			&-gba {
				background-color: $primary;
			}
		}
	}
}
