
.navbar {

	text-align: center;
	height: 10rem;

	&__nav-link {
		float: left;
		width: 50%;
		height: 100%;
		padding: 3rem 1rem;
		color: $color-navlink;

		&--left {
			background-color: $color-primary1;
			color: $color-navlink;
		}

		&--right {
			background-color: $color-primary2;
			color: $color-navlink;
		}
		&:hover {
			color: $color-navlink-hover;
		}

	}
}