
.main-navbar {
    @include flex();
    @include box( $h: 5rem , $m: 2rem 0 );

    @media (max-width: 800px) {
        @include flex( $fd: column );
        @include box( $h: 14rem , $mt: 0 );
    }
    @media (max-width: 414px) {
        margin-top: .3rem;
    }

    &__nav {
        @include flex-item( $grow: 1 , $shrink: 1 , $basis: auto );

        @media (max-width: 800px) {
            @include flex();
            margin-top: 2rem;
        }
    }

    &__inner-nav {

        &--1 {
            @include flex();

            @media (max-width: 800px) {
                @include flex-item( $grow: 1 , $shrink: 1 , $basis: auto );
            }

            .main-navbar__nav-item:first-child {
                border-radius: 50px 0 0 50px;
            }
            
            .main-navbar__nav-item:last-child {
                border-right: 1px solid $primary;

                @media (max-width: 800px) {
                    border-radius: 0 50px 50px 0;
                }
            }
        }

        &--2 {
            @include flex();

            @media (max-width: 800px) {
                @include flex-item( $grow: 1 , $shrink: 1 , $basis: auto );
            }

            .main-navbar__nav-item:first-child {
                @media (max-width: 800px) {
                    border-radius: 50px 0 0 50px;
                }
            }

            .main-navbar__nav-item:last-child {
                border-radius: 0 50px 50px 0;
            }
        }
    }

    &__nav-item {
        @include typo( $c: $primary , $ff: $roboto , $fw: 500 , $fs: 1.8rem , $td: none );
        @include flex( $jc: center , $ai: center );
        @include flex-item( $grow: 1 , $shrink: 1 , $basis: auto );
        @include box( $h: 5rem );
        background-color: $cyan1;
        text-align: center;
        transition: all .5s ease;

        &:not(:last-child) {
            border-right: 1px solid $primary;
        }

        &:hover {
            background-color: $secondary;
            color: $cyan1;
        }

        &[href="#BASIC"] {
            @media (max-width: 800px) {
                padding: 0 1rem;
            }
            @media (max-width: 386px) {
                padding: 0 .5rem;
            }
        }

        @media (max-width: 800px) {
            font-size: 2rem;
        }
        @media (max-width: 540px) {
            font-size: 1.6rem;
        }
        @media (max-width: 414px) {
            font-size: 1.5rem;
        }
        @media (max-width: 386px) {
            font-size: 1.2rem;
        }
    }
}