@use '../abstracts' as *;

:root {
   //#fonts:#//
   --courierPrime: "Courier Prime", monospace;
   --rubik: "Rubik", sans-serif;

   //#colors:#//
   --white: White;
   --primary: #222831;
   --secondary: #2f4347;
   --cyan1: #00ffff;
   --cyan2: #00d8e2;
   --tomato: #f97f77;
   --primeblue: #228fec;
}

body {
   -webkit-tap-highlight-color: transparent;
   tap-highlight-color: transparent;
   background-color: $primary;
   color: $white;
}
