[user]
	name = dhruw
	email = dhruwlalan22@gmail.com

[alias]
	st = status
	ad = add .
	ct = commit -m

	dct = "!f() { git add . && git commit -m \"$1\"; }; f"
	rct = commit --amend
	
	rename = mv
	unstage = restore --staged 
	unmodify = restore
	untrack = rm --cached 
	deleteUntrackedFiles = clean -d -f
	
	branchAll = branch -a
	pushLb = push -u origin
	pushLbTdr = push -u
	deleteLb = branch -d  
	pullRb = "!f() { git fetch && git checkout $1; }; f"
	deleteRb = push --delete origin 
	deleteRbTdr = push --delete 
	deleteLbRb = "!f() { git branch -d $1 && git push --delete origin $1; }; f"
	deleteLbRbTdr = "!f() { git branch -d $2 && git push --delete $1 $2; }; f"
	listDeletedRb = fetch -p
	track = push -u origin
	trackTdr = push -u

	remoteDetails = remote show origin
	remoteDetailsTdr = remote show
	remoteUrl = remote -v
	addRemote = remote add origin
	addRemoteTdr = remote add
	deleteRemote = remote remove origin
	deleteRemoteTdr = remote remove
	renameRemote = remote rename origin
	renameRemoteTdr = remote rename 
	editRemoteUrl = "!f() { git remote remove origin && git remote add origin $1; }; f"
	editRemoteUrlTdr = "!f() { git remote remove $1 && git remote add $1 $2; }; f"

	tagDetails = show
	release = "!f() { git tag -a $1 -m \"$2\"; }; f"
	pushLt = push origin
	pushLtTdr = push
	deleteLt = tag -d
	deleteRt = push origin --delete
	deleteRtTdr = push --delete
	deleteLtRt = "!f() { git tag -d $1 && git push --delete origin $1; }; f"
	deleteLtRtTdr = "!f() { git tag -d $2 && git push --delete $1 $2; }; f"
	pushAllLt = push origin --tags
	pushAllLtTdr = push --tags
	pullAllRt = fetch --all --tags	

	last = log -1 HEAD
	graph = log --oneline --graph --all
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias.// -e s/\\ /\\ $(printf \"\\043\")--\\>\\ / | column -t -s $(printf \"\\043\") | sort -k 1

[core]
	safecrlf = false
