///fonts///
$courierPrime: var(--courierPrime);
$rubik: var(--rubik);

///colors - base///
$white: var(--white);
$primary: var(--primary);
$secondary: var(--secondary);
$cyan1: var(--cyan1);
$cyan2: var(--cyan2);
$tomato: var(--tomato);
$primeblue: var(--primeblue);
