@keyframes bounce {
  50% {
    line-height: 2rem; }
  100% {
    line-height: 3.5rem; } }

:root {
  --primary: 		#222831;
  --secondary: 	#393e46;
  --cyan1: 		#00ffff;
  --cyan2: 		#00d8e2;
  --tomato: 		#f97f77;
  --primeblue: 	#228fec; }

body {
  background-image: linear-gradient(var(--cyan1), var(--primeblue));
  background-attachment: fixed;
  margin: 1.5rem;
  -webkit-tap-highlight-color: transparent; }
  @media (max-width: 700px) {
    body {
      margin: 1rem; } }
  @media (max-width: 414px) {
    body {
      margin: .5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.back-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 10000;
  height: 3.5rem;
  width: 3.5rem;
  display: none;
  background-color: var(--primary);
  box-shadow: 0 0 1rem #000000;
  text-align: center;
  border-radius: 3px; }
  .back-top:focus i {
    animation: bounce 0.5s cubic-bezier(0.33, 1, 0.68, 1); }
  @media (max-width: 1275px) {
    .back-top {
      position: fixed;
      bottom: 35px;
      right: 30px;
      background-color: var(--cyan1);
      border-radius: 50px;
      box-shadow: 0 0 2rem .2rem black; } }
  @media (max-width: 700px) {
    .back-top {
      position: fixed;
      bottom: 20px;
      right: 20px; } }
  .back-top i {
    color: var(--cyan1);
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.5rem; }
    @media (max-width: 1275px) {
      .back-top i {
        color: var(--primary); } }

.strike-tdr__content {
  color: var(--cyan1);
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  font-style: italic; }
  .strike-tdr__content:before, .strike-tdr__content:after {
    content: "";
    border-bottom: 1px dashed var(--cyan1);
    margin: auto;
    flex-grow: 1;
    flex-shrink: 1; }
  .strike-tdr__content:before {
    margin-right: 10px; }
  .strike-tdr__content:after {
    margin-left: 10px; }

.container {
  max-width: 1100px;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 0 0 2rem 1rem #00716b; }
  @media (max-width: 700px) {
    .container {
      margin: 1rem auto; } }
  @media (max-width: 414px) {
    .container {
      margin: 0 auto; } }

.header-navbar {
  display: flex;
  height: 12rem; }
  @media (max-width: 540px) {
    .header-navbar {
      height: 10rem; } }
  .header-navbar__nav-link {
    color: var(--cyan2);
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 3.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center; }
    .header-navbar__nav-link:hover {
      color: var(--cyan1); }
    @media (max-width: 958px) {
      .header-navbar__nav-link {
        font-size: 2.6rem; } }
    @media (max-width: 700px) {
      .header-navbar__nav-link {
        font-size: 2.4rem; } }
    @media (max-width: 660px) {
      .header-navbar__nav-link {
        font-size: 2.2rem; } }
    @media (max-width: 540px) {
      .header-navbar__nav-link {
        font-size: 2rem; } }
    .header-navbar__nav-link--left {
      background-color: var(--primary);
      border-top-left-radius: 5px; }
      .header-navbar__nav-link--left-gba {
        background-color: var(--secondary); }
    .header-navbar__nav-link--right {
      background-color: var(--secondary);
      border-top-right-radius: 5px; }
      .header-navbar__nav-link--right-gba {
        background-color: var(--primary); }

.footer {
  display: flex;
  justify-content: center;
  height: 10rem;
  background-color: var(--secondary);
  border-radius: 0 0 5px 5px; }
  .footer__content {
    color: var(--cyan1);
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    display: flex;
    align-items: center; }

.main-navbar {
  display: flex;
  height: 5rem;
  margin: 2rem 0; }
  @media (max-width: 800px) {
    .main-navbar {
      display: flex;
      flex-direction: column;
      height: 14rem;
      margin-top: 0; } }
  @media (max-width: 414px) {
    .main-navbar {
      margin-top: .3rem; } }
  .main-navbar__nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; }
    @media (max-width: 800px) {
      .main-navbar__nav {
        display: flex;
        margin-top: 2rem; } }
  .main-navbar__inner-nav--1 {
    display: flex; }
    @media (max-width: 800px) {
      .main-navbar__inner-nav--1 {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto; } }
    .main-navbar__inner-nav--1 .main-navbar__nav-item:first-child {
      border-radius: 50px 0 0 50px; }
    .main-navbar__inner-nav--1 .main-navbar__nav-item:last-child {
      border-right: 1px solid var(--primary); }
      @media (max-width: 800px) {
        .main-navbar__inner-nav--1 .main-navbar__nav-item:last-child {
          border-radius: 0 50px 50px 0; } }
  .main-navbar__inner-nav--2 {
    display: flex; }
    @media (max-width: 800px) {
      .main-navbar__inner-nav--2 {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto; } }
    @media (max-width: 800px) {
      .main-navbar__inner-nav--2 .main-navbar__nav-item:first-child {
        border-radius: 50px 0 0 50px; } }
    .main-navbar__inner-nav--2 .main-navbar__nav-item:last-child {
      border-radius: 0 50px 50px 0; }
  .main-navbar__nav-item {
    color: var(--primary);
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 5rem;
    background-color: var(--cyan1);
    text-align: center;
    transition: all .5s ease; }
    .main-navbar__nav-item:not(:last-child) {
      border-right: 1px solid var(--primary); }
    .main-navbar__nav-item:hover {
      background-color: var(--secondary);
      color: var(--cyan1); }
    @media (max-width: 800px) {
      .main-navbar__nav-item[href="#BASIC"] {
        padding: 0 1rem; } }
    @media (max-width: 386px) {
      .main-navbar__nav-item[href="#BASIC"] {
        padding: 0 .5rem; } }
    @media (max-width: 800px) {
      .main-navbar__nav-item {
        font-size: 2rem; } }
    @media (max-width: 540px) {
      .main-navbar__nav-item {
        font-size: 1.6rem; } }
    @media (max-width: 414px) {
      .main-navbar__nav-item {
        font-size: 1.5rem; } }
    @media (max-width: 386px) {
      .main-navbar__nav-item {
        font-size: 1.2rem; } }

.main {
  background-color: var(--primary);
  padding: 2rem; }
  @media (max-width: 540px) {
    .main {
      padding: 1rem; } }
  @media (max-width: 414px) {
    .main {
      padding: .7rem; } }

.main-section {
  background-color: var(--primary);
  border: 1px solid var(--cyan1);
  margin-top: 4rem;
  border-radius: 5px; }
  @media (max-width: 540px) {
    .main-section {
      margin-top: 3rem; } }
  .main-section__heading {
    background-color: var(--cyan1);
    border-radius: 3px 3px 0 0;
    padding: 0 2rem; }
    .main-section__heading h1 {
      color: var(--primary);
      font-family: "Titillium Web", sans-serif;
      font-weight: 700;
      font-size: 4rem; }
      @media (max-width: 660px) {
        .main-section__heading h1 {
          font-size: 3rem; } }
  .main-section__content {
    padding-left: 4rem;
    border-radius: 0 0 5px 5px; }
    @media (max-width: 958px) {
      .main-section__content {
        padding-left: 3rem; } }
    @media (max-width: 660px) {
      .main-section__content {
        padding-left: 2rem; } }
    @media (max-width: 540px) {
      .main-section__content {
        padding-left: 1rem; } }
    @media (max-width: 414px) {
      .main-section__content {
        padding-left: .5rem; } }
  .main-section__content-block {
    margin: 3rem 0; }
    @media (max-width: 660px) {
      .main-section__content-block {
        margin: 2rem 0; } }
    .main-section__content-block--title {
      color: var(--tomato);
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 2.5rem; }
    .main-section__content-block--code {
      color: var(--cyan1);
      font-family: "Courier Prime", monospace;
      font-weight: 400;
      font-size: 2.5rem; }

.main-section__content-block--title, .main-section__content-block--code {
  word-spacing: .5rem;
  padding: .5rem; }
  @media (max-width: 958px) {
    .main-section__content-block--title, .main-section__content-block--code {
      font-size: 2rem;
      word-spacing: 0.2rem; } }
  @media (max-width: 660px) {
    .main-section__content-block--title, .main-section__content-block--code {
      font-size: 1.8rem;
      word-spacing: 0.1rem; } }
  @media (max-width: 540px) {
    .main-section__content-block--title, .main-section__content-block--code {
      font-size: 1.7rem;
      word-spacing: 0; } }
  @media (max-width: 414px) {
    .main-section__content-block--title, .main-section__content-block--code {
      font-size: 1.5rem; } }
