
.back-top {
    @include pos-fixed( $b: 15px , $r: 20px , $z: 10000 );
    @include box( $h: 3.5rem , $w: 3.5rem );
    display: none;
    background-color: $primary;
    box-shadow: 0 0 1rem #000000;
    text-align: center;
    border-radius: 3px;

    &:focus i {
        animation: bounce .5s cubic-bezier(0.33, 1, 0.68, 1);
    }

    @media (max-width: 1275px) {
        @include pos-fixed( $b: 35px , $r: 30px );
        background-color: $cyan1;
        border-radius: 50px;
        box-shadow: 0 0 2rem .2rem black;
    }
    @media (max-width: 700px) {
        @include pos-fixed( $b: 20px , $r: 20px );
    }

    i {
        @include typo( $c: $cyan1 , $ff: $roboto , $fw: 700 , $fs: 3.2rem , $lh: 3.5rem );

        @media (max-width: 1275px) {
            color: $primary;
        }
    }
}