
.back-top {
    display: none;
    background-color: $color-primary;
    box-shadow: 0 0 1rem #000000;
    @include pos-fixed( /*t*/ null , /*b*/ 15px , /*l*/ null , /*r*/ 20px , /*z*/ 10000 );
    @include size( /*h*/ 3.5rem , /*w*/ 3.5rem );
    text-align: center;
    border-radius: 3px;

    &:focus i {
        animation: bounce .5s cubic-bezier(0.33, 1, 0.68, 1);
    }

    @media (max-width: 1275px) {
        border-radius: 50px;
        background-color: $color-cyan1;
        box-shadow: 0 0 2rem .2rem black;
        @include pos-fixed( /*t*/ null , /*b*/ 35px , /*l*/ null , /*r*/ 30px , /*z*/ null );
    }
    @media (max-width: 700px) {
        @include pos-fixed( /*t*/ null , /*b*/ 20px , /*l*/ null , /*r*/ 20px , /*z*/ null );
    }

    i {
        @include typo( $color-cyan1 , $ff-roboto , 700 , 3.2rem );
        line-height: 3.5rem;

        @media (max-width: 1275px) {
            color: $color-primary;
        }
    }
}