
.strike-tdr__content {
    @include typo( $c: $cyan1 , $ff: $roboto , $fw: 400 , $fs: 1.5rem );
    font-style: italic;
    display: flex;

    &:before, &:after{
      content: "";
      flex: 1 1;
      @include box( $bb: 1px dashed $cyan1 , $m: auto );
    }

    &:before {
      margin-right: 10px
    }

    &:after {
      margin-left: 10px
    }
}