
:root {
	--primary: 		#222831;
	--secondary: 	#393e46;
	--cyan1: 		#00ffff;
	--cyan2: 		#00d8e2;
	--tomato: 		#f97f77;
	--primeblue: 	#228fec;
}


body {
	background: {
		image: linear-gradient($cyan1, $primeblue);
		attachment: fixed;
	}
	margin: 1.5rem;
	-webkit-tap-highlight-color: transparent;

	@media (max-width: 700px) {
		margin: 1rem;
	}
	@media (max-width: 414px) {
		margin: .5rem;
	}
}

