
body {
	background-image: url('../images/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
	margin: 1.5rem;
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 414px) {
	body {
		margin: 1rem 1rem;
	}
}