
body {
	background {
		image: linear-gradient($color-cyan1, $color-primeblue);
		attachment: fixed;
	}
	margin: 1.5rem;
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 700px) {
	body {
		margin: 1rem 1rem;
	}
}