
// navbar links

.navbar__nav-link {
	font-family: $ff-roboto;
	font-weight: 500;
	font-size: 3.5rem;
	text-decoration: none;
}

// footer
.footer__content {
	font-family: $ff-titillium;
	font-weight: 300;
	font-size: 2rem;
	color: $color-navlink;
}

// main-section
.main-section {

	&__heading{ 
		font-family: $ff-titillium;
		font-size: 3rem;
	}

	&__content-block {

		&--title {
			font-family: $ff-roboto;
			font-weight: 400;
			font-size: 2.5rem;
			color: $color-light-red;
			word-spacing: .6rem;
		}

		&--code {
			font-family: $ff-courierPrime;
			color: cyan;
			font-weight: 400;
			font-size: 2.5rem;
			word-spacing: .5rem;
		}

		&--title-gba {
			color: #ff6e65;
		}
		&--code-gba {
			color: cyan;
		}

	}

}

