
// navbar links

.navbar__nav-link {
	font-family: $ff-roboto;
	font-weight: 500;
	font-size: 3.5rem;
	text-decoration: none;
}

// footer
.footer__content {
	font-family: $ff-titillium;
	font-weight: 300;
	font-size: 2rem;
	color: $color-navlink;
}