
.main {
	background-color: $color-primary;
	padding: 2rem;

    @media (max-width: 540px) {
        padding: 1rem;
    }
    @media (max-width: 414px) {
        padding: .7rem;
    }
}

.main-section {
	background-color: $color-primary;
    border-radius: 5px;
    margin-top: 4rem;
    border: 1px solid $color-cyan1;

	@media (max-width: 540px) {
       margin-top: 3rem;
    }

    &__heading {
    	background-color: $color-cyan1;
    	border-radius: 3px 3px 0 0;
    	padding: 0 2rem;

        h1 { 
            @include typo( $color-primary , $ff-titillium , 700 , 4rem );

            @media (max-width: 660px) {
                font-size: 3rem;
            }
        }
    }

    &__content {
    	padding-left: 4rem;
    	border-radius: 0 0 5px 5px;

        @media (max-width: 958px) {
            padding-left: 3rem;
        }
        @media (max-width: 660px) {
            padding-left: 2rem;
        }
        @media (max-width: 540px) {
            padding-left: 1rem;
        }
        @media (max-width: 414px) {
            padding-left: .5rem;
        }
    }

    &__content-block {
        @include pbm( /*p*/ null , /*b*/ null , /*m*/ 3rem 0 );

        @media (max-width: 660px) {
            @include pbm( /*p*/ null , /*b*/ null , /*m*/ 2rem 0 );
        }

    	&--title {
            @include typo( $color-tomato , $ff-roboto , 400 , 2.5rem );
            @extend %content-block-typo;
    	}

    	&--code {
            @include typo( $color-cyan1 , $ff-courierPrime , 400 , 2.5rem );
            @extend %content-block-typo;
    	}
    }
}


%content-block-typo {
    word-spacing: .5rem;
    padding: .5rem;

    @media (max-width: 958px) {
        font-size: 2rem;
        word-spacing: .2rem;
    }
    @media (max-width: 660px) {
        font-size: 1.8rem;
        word-spacing: .1rem;
    }
    @media (max-width: 540px) {
        font-size: 1.7rem;
        word-spacing: 0rem;
    }
    @media (max-width: 414px) {
        font-size: 1.5rem;
    }
} 