
.main {
	background-color: $color-primary;
	padding: 2rem;
}

.main-navbar {
    display: flex;
    margin: 2rem 0;
    height: 5rem;

    &__table-row {
        flex: 1 1 auto;
    }

    &__inner-table {

        &--1 {
            display: flex;


            .main-navbar__nav-item:first-child {
                border-radius: 50px 0 0 50px;
            }
            .main-navbar__nav-item:last-child {
                border-right: 1px solid $color-primary;
            }
        }

        &--2 {
            display: flex;

            .main-navbar__nav-item:last-child {
                border-radius: 0 50px 50px 0;
            }
        }
    }

    &__nav-item {
        @include typo( $color-primary , $ff-roboto , 500 , 1.8rem );
        text-decoration: none;
        background-color: $color-cyan1;
        display: flex;
        text-align: center;
        height: 5rem;
        transition: all .5s ease;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            border-right: 1px solid $color-primary;
        }

        &:hover {
            background-color: $color-secondary;
            color: $color-cyan1;
        }
    }
}

.main-section {
	background-color: $color-primary;
    border-radius: 5px;
    margin-top: 4rem;
    border: 1px solid $color-cyan1;

	&:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__heading {
    	background-color: $color-cyan1;
    	border-radius: 3px 3px 0 0;
    	padding: 0 2rem;

        h1 { 
            @include typo( $color-primary , $ff-titillium , 700 , 4rem );
        }
    }

    &__content {
    	padding: 2rem;
    	border-radius: 0 0 5px 5px;
    }

    &__content-block {
    	margin: 3rem 1rem;
    	padding-left: 2rem;

    	&--title {
            @include typo( $color-tomato , $ff-roboto , 400 , 2.5rem );
            word-spacing: .6rem;
    		padding: .5rem;
    	}

    	&--code {
            @include typo( $color-cyan1 , $ff-courierPrime , 400 , 2.5rem );
            word-spacing: .5rem;
    		padding: .5rem;
    		padding-top: 0;
    	}

    }
}

.strike-tdr__content {
    @include typo( $color-cyan1 , $ff-roboto , 400 , 1.5rem );
    font-style: italic;
    display: flex;
    flex-direction: row;

    &:before, &:after{
      content: "";
      flex: 1 1;
      border-bottom: 1px dashed $color-cyan1;
      margin: auto;
    }

    &:before {
      margin-right: 10px
    }

    &:after {
      margin-left: 10px
    }
}


@media (max-width: 958px) {

    .main-section__content {
        padding: 0;

        &-block {

            &--title {
                font-size: 2rem;
                word-spacing: .2rem;
            }

            &--code {
                font-size: 2rem;
                word-spacing: .2rem;
            }
        }
    }
}

@media (max-width: 800px) {

    .main-navbar {
        margin-top: 0rem;
        flex-direction: column;
        height: 15rem;

        &__table-row {
            display: flex;
            margin-top: 2rem;
        }

        &__inner-table {

            &--1 {
                flex: 1 1 auto;

                .main-navbar__nav-item:last-child {
                    border-radius: 0 50px 50px 0;
                }
            }

            &--2 {
                flex: 1 1 auto;

                .main-navbar__nav-item:first-child {
                    border-radius: 50px 0 0 50px;
                }
            }
        }

        &__nav-item {
            font-size: 2rem;
        }

        &__nav-item[href="#BASIC"] {
            padding: 0 1rem;
        }
    }
}

@media (max-width: 660px) {

    .main-section {

        &__heading h1 { 
            font-size: 3rem;
        }

        &__content {
            padding: 1rem;
        }

        &__content-block {
            margin: 2rem .5rem;
            padding-left: 0;
            
            &--title {
                font-size: 1.8rem;
                word-spacing: .1rem;
            }

            &--code {
                font-size: 1.8rem;
                word-spacing: .1rem;
            }
        }
    }
}

@media (max-width: 540px) {

    .main-navbar__nav-item {
        font-size: 1.6rem;
    }

    .main-section {

        &__content {
            padding: 0rem;

            &-block {

                &--title {
                    font-size: 1.7rem;
                    word-spacing: 0rem;
                }

                &--code {
                    font-size: 1.7rem;
                    word-spacing: 0rem;
                }
            }
        }
    }
}

@media (max-width: 414px) {

    .main {
        padding: 1rem;
    }

    .main-navbar {
        margin-top: 1rem;

        &__nav-item {
            font-size: 1.5rem;
        }
    }

    .main-section__content-block {

        &--title {
            font-size: 1.5rem;
        }

        &--code {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 386px) {

    .main-navbar__nav-item {
        font-size: 1.2rem;
    }
    
    .main-navbar__nav-item[href="#BASIC"] {
        padding: 0 .5rem;
    }
}