
.main {
	background-color: $primary;
	padding: 2rem;

    @media (max-width: 540px) {
        padding: 1rem;
    }
    @media (max-width: 414px) {
        padding: .7rem;
    }
}

.main-section {
    @include box( $mt: 4rem , $b: 1px solid $cyan1 );
	background-color: $primary;
    border-radius: 5px;

	@media (max-width: 540px) {
       margin-top: 3rem;
    }

    &__heading {
    	background-color: $cyan1;
    	border-radius: 3px 3px 0 0;
    	padding: 0 2rem;

        h1 { 
            @include typo( $c: $primary , $ff: $titillium , $fw: 700 , $fs: 4rem );

            @media (max-width: 660px) {
                font-size: 3rem;
            }
        }
    }

    &__content {
    	padding-left: 4rem;
    	border-radius: 0 0 5px 5px;

        @media (max-width: 958px) {
            padding-left: 3rem;
        }
        @media (max-width: 660px) {
            padding-left: 2rem;
        }
        @media (max-width: 540px) {
            padding-left: 1rem;
        }
        @media (max-width: 414px) {
            padding-left: .5rem;
        }
    }

    &__content-block {
        margin: 3rem 0;

        @media (max-width: 660px) {
            margin: 2rem 0;
        }

    	&--title {
            @include typo( $c: $tomato , $ff: $roboto , $fw: 400 , $fs: 2.5rem );
            @extend %content-block-typo;
    	}

    	&--code {
            @include typo( $c: $cyan1 , $ff: $courierPrime , $fw: 400 , $fs: 2.5rem );
            @extend %content-block-typo;
    	}
    }
}


%content-block-typo {
    word-spacing: .5rem;
    padding: .5rem;

    @media (max-width: 958px) {
        @include typo( $fs: 2rem , $ws: .2rem );
    }
    @media (max-width: 660px) {
        @include typo( $fs: 1.8rem , $ws: .1rem );
    }
    @media (max-width: 540px) {
        @include typo( $fs: 1.7rem , $ws: 0 );
    }
    @media (max-width: 414px) {
        @include typo( $fs: 1.5rem );
    }
} 