@use '../abstracts' as *;

.navbar {
   @include size($h: 5rem, $w: 100%);
   @include bg($c: $cyan1);
   @include pbm($p: 3px, $rad: 50px, $mb: 2rem);
   @include flex($jc: center, $ai: center);
   @include disable-selection;
   overflow: hidden;

   @media (max-width: 700px) {
      margin-bottom: 1rem;
   }

   &__nav {
      @include size($h: 100%, $w: 100%);
      @include flex($jc: center, $ai: center);
      @include pos-relative;

      &--item {
         @include size($h: 100%);
         @include typo($c: $primary, $ff: $rubik, $fw: 400, $fs: 2rem, $td: none);
         @include pbm($rad: 50px);
         @include flex($jc: center, $ai: center);
         @include flex-item($grow: 1, $shrink: 1, $basis: auto);
         z-index: 10;
         cursor: pointer;

         &:not(:last-child) {
            margin-right: 1rem;
         }
         &:hover {
            background-color: rgb(0 0 0 / 10%);
         }
      }

      &--indicator {
         @include size($h: 100%);
         @include bg($c: $primary);
         @include pbm($rad: 50px);
         @include pos-absolute($t: 0, $l: 0);
      }
   }
}

.n-indi-t {
   transition: all 0.5s ease-in-out;
}

.n-item-t {
   transition: color 0.5s ease-in, background-color 0.5s;
}
